.top-shelf {
  height: 101px;
  display: block;
  background: lavender;
  color:black;
  border: 1px dotted black;
}

.middle-shelf {
  height: 101px;
  display: block;
  background: salmon;
  border: 1px dotted black;
}

.bottom-shelf {
  height: 101px;
  display: block;
  background: sienna;
  border: 1px dotted black;
}

h2 {
  font-family: monospace;
  color: yellowgreen;
  border-bottom: 1px solid orange;
}

.item-names{
  font-family: monospace;
  color: white;
  box-shadow: rgba(255, 0, 0, 0.5);
  font-size: 18px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.item-expanded{
  font-family: monospace;
  color: red;
  box-shadow: rgba(255, 0, 0, 0.5);
  font-size: 18px;
  display: inline-block;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 500px;
  width: 500px;
  z-index: 9999;
}


.number-clean{
  float:left;
}

.sort-btn{
  float:right;
}
