.App {
  text-align: center;
  font-family: monospace;
}

button {
 overflow: hidden;
 position: relative;
 margin: 10px;
 padding: 10px 30px;
 border: 1px solid #F85F5F;
 background-repeat: repeat-x;
font-family: cursive;
font-weight: bold;
font-size: 13px;
color: #fff;
cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
